/* Nav Sec */
#navigation {
	position: absolute;
    left: 20px;
	top: 20px;
	height: auto;
	z-index: 100;
}

#navigation .nav__icon {
	width: 70px;
	height: 70px;
	margin: 0 auto;
	margin-right: 0;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.404);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#navigation .nav__icon:hover{
	color: #000000;
	background-color: #000;
}

#navigation .nav__icon svg {
	width: 80%;
	color: #fff;
}

#nav__content {
	position: fixed;
	left: 0;
	width: 80%;
	max-width: 800px;
	height: 100%;
	z-index: 100;
	background-image: url(/imgs/img5.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #00131f;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transform: translateY(-100%);
	transition: 0.3s ease transform;
}

#nav__content.show {
	transform: translateX(0);
	box-shadow: -6px 0px 29px 7px #000000a3;
}

#nav__content .section__heading {
	text-align: left;
}

#nav__content .section__heading::before {
	content: 'Menu';
	text-align: left;
	-webkit-text-stroke: 1.5px #afadad25;
}

#nav__content .wrapper {
	width: 70%;
	position: relative;
}

#nav__content ul {
	list-style: none;
	text-align: left;
}

#nav__content ul li {
	margin-bottom: 2rem;
}

#nav__content ul li a {
	display: inline-block;
	width: 100%;
	color: #fff;
	font-size: 5rem;
	font-family: 'Poppins', sans-serif;
    text-decoration: none;
    line-height: 13rem;
	/* position: relative; */
}

#nav__content ul li a::after {
	content: attr(data-text);
	pointer-events: none;
	position: absolute;
	right: -150px;
	bottom: 30%;
	width: 100%;
	color: transparent;
	-webkit-text-stroke: 1.5px rgba(255, 255, 255, 0.116);
	opacity: 0;
	transition: 0.3s ease;
	transition-property: opacity, transform;
	z-index: -1;
	text-align: center;
	transform: rotate(90deg) scale(3);
}

#nav__content ul li a:hover::after {
	opacity: 1;
	transform: scale(2) translateY(10px);
}

#nav__content .close__btn {
	position: absolute;
	left: 5px;
	top: 10px;
	color: #fff;
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.3s ease background-color;
}

#nav__content .close__btn svg {
	width: 80%;
}

@media only screen and (max-width: 768px) {
	#navigation {
		left: 10px;
		top: 10px;
	}
	#nav__content nav ul li a::after {
		display: none;
	}
	#nav__content .section__heading {
		text-align: left;
		margin-bottom: 5rem;
	}
	#nav__content .section__heading::before {
		text-align: left;
	}
	#nav__content nav ul {
		text-align: left;
	}
	#nav__content nav ul li a {
		font-size: 2.5rem;
	}
	#nav__content .wrapper {
		width: 90%;
	}
}


/* End Nav Sec */

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  }

/* Hero Sec */

#hero {
    padding-bottom: 11rem;
    height: 69vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.527)), url(/imgs/img1.png) no-repeat 100% center/ cover;
    color: whitesmoke;
    text-align: center;
	margin-bottom: 15rem;
}

.hero__wrapper{
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
 }

.hero__left__wrapper{
    width: 100%;
	text-align: center;
}

.hero__imgWrapper{
    max-width: 400px;
    width: 80%;
    margin: 0 auto;
}

.hero__heading{
	font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 20rem;
    text-align: center;
    font-size: 6rem;
    font-weight: 600;
    padding-top: -19rem;
    margin: 0 auto;
    margin-bottom: 33.5rem;
    color: #fff;
}

.hero__dec{
	font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 4rem;
	letter-spacing: 0.1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    padding-top: -19rem;
    margin: -380px auto;
    margin-bottom: 32.5rem;
    color: #fff;
}

.button__wrapper{
    text-align: center;
}

@media only screen and (min-width: 768px){
	#hero{
	background: linear-gradient(rgba(0, 0, 0, 0.137), rgba(0, 0, 0, 0.205)), url(/imgs/img2.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	}
	.hero__heading{
		font-size: 10rem;
		text-align: center;
		display: contents;
	}
	.hero__dec{
		font-size: 2rem;
    	text-align: center;
    	margin: 0 auto;
	}
	#hero .container{
		text-align: center;
	}
}

/* 3 cardz sec */

#cards3{
	padding-bottom: 10rem;
}

.grid{
	justify-content: center;
	align-items: center;
	width: auto;
	grid-gap: 3rem;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	align-items: start;
}

.grid__item{

	background-color: #e9e0b6;
	border-radius: 0.4rem;
	overflow: hidden;
	box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
	cursor: pointer;
  	transition: 0.2s;
}

.grid__item:hover{
	transform: translateY(-0.5%);
	box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5)
}

.card-img{
	display: block;
	width: 100%;
	height: 25rem;
	object-fit: cover;
}

.fas{
	padding-left: 10px;
}

.card__content{
	padding: 3rem;
}

.card-header{
	text-align: center;
	font-size: 3rem;
	font-weight: 500;
	color: #133236;
	margin-bottom: 1.5rem;
}

.card-text{
	text-align: center;
	font-size: 1.6rem;
	letter-spacing: 0.1rem;
	line-height: 1.7;
	color: #133236;
	margin-bottom: 2.5rem;
}

.card-btn{
	display: block;
	width: 100%;
	padding: 1.5rem;
	font-size: 2rem;
	text-align: center;
	color: #fff;
	background-color: #28666e;
	border: none;
	border-radius: 0.4rem;
	transition: 0.2s;
	cursor: pointer;
	letter-spacing: 0.1rem;
}

.card-btn:hover,
.card-btn:active{
	color: rgb(255, 255, 255);
	background-color: #41a4b1;
}

@media only screen and (max-width: 400px){
	.grid{
		grid-gap: 3rem;
		padding: 0 5px;
	}
}

@media only screen and (max-width: 768px){
	.grid{
		grid-gap: 3rem;
		padding: 0 21px;
	}
	.card-img{
		height: 20rem;
	}
}

@media only screen and (max-width: 999px){
	.grid{
		grid-gap: 3rem;
    	padding: 0 30px;
	}
}

@media only screen and (min-width: 1000px){
	.grid{
		grid-gap: 3rem;
		display: flex;
    	width: 100%;
    	padding: 0 21px;
	}
	.card-img{
		height: 35rem;
	}
}

/* end 3 cardz sec */


/* dino Cards */

.card__title{
	font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
	line-height: 4rem;
    text-transform: uppercase;
    padding: 1rem 3rem 1rem;
	color: rgb(0, 0, 0);
    /* background-color: #d2d391; */
}
.card__title::before,
.card__title::after{
	content: '';
	display: block;
	height: 6px;
	width: 13em;
	background: #000;
	margin: 0.7em auto;
}

@media (max-width: 600px){
	.card__title::before,
	.card__title::after{
		width: 8em;
	}
}

@media (min-width: 1200px){
	.card__title::before,
	.card__title::after{
		width: 26em;
	}
}


.card{
	box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1);
	width: 80%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	background: #e9e0b6;
	border-radius: 10px;
	color:#133236;
	text-align: center;
	padding: 2em;
	margin: 10rem auto ;
}

.dino__name{
	font-size: 2.5rem;
	line-height: 3;
}

.dino__info{
	font-weight: 500;
	opacity: 0.8;
	margin-bottom: 0;
}

.side__image img{
	width: 100%;
	height: auto;
	border-radius: 0;
}

@media (min-width: 768px){
	.card{
		flex-direction: row;
    	max-width: 89em;
    	height: 60%;
    	align-items: center;
	}
	.card__title{
		font-size: 4rem;
    	padding: 3rem 12rem 3rem;
		line-height: 7rem;
	}
	.side__image img{
		width: 15em;
		height: auto;
		
	}
	.dino__name{
		font-size: 2.5rem;
	}
	.dino__info{
		font-size: 2rem;
	}
	.main__info{
		text-align: left;
		margin-left: 4rem;
	}
	.dino__name::after{
		margin-left: 0;
	}
}

@media (max-width: 320px){
	.dino__name{
		font-size: 2.1rem;
	}
}

@media (min-width: 1000px){
	.dino__name{
		font-size: 4.5rem;
	}

}

/* End dino Cards */

#bottomSec{
	background-image: url(/imgs/img4.png);
	background-repeat: no-repeat;
	background-size: cover;
}

/* info sec */
#moreInfo{
	padding-top: 8rem;
	align-items: center;
	justify-content: center;
    padding-bottom: 11rem;
	/* background-color: #000000cb;; */
}

.hero__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
 }

.info__row{
    max-width: 360px;
	text-align: center;
    margin: 0 auto;
}

#right__row{
	box-shadow: 0 2rem 3rem rgb(0 0 0 / 10%);
    display: flex;
    background: #e9e0b6;
    border-radius: 10px;
    color: #000000;
    text-align: center;
    padding: 6rem 2rem;
    flex-direction: column;
	height: 100%;
}

.info__imgWrapper{
    max-width: 400px;
    width: 80%;
    margin: 0 auto;
}

.info__heading{
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 8rem;
    text-align: center;
    font-size: 3.8rem;
	margin-top: 1rem;
    margin-bottom: -0.5rem;
    color: #133236;
}

.info__heading::after{
	content: '';
	display: block;
	height: 4px;
	width: 20rem;
	background: #000;
	margin: 0.7em auto;
}

.info__desc{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #133236;
	opacity: .9;
}

.book__btn{
	text-align: center;
    display: inline-block;
    padding: 23px 37px;
    color: #fff;
    background-color: #28666e;
    border: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    margin: 6rem;
    transition: 0.3s ease;
    transition-property: background-color, color;
    cursor: pointer;
}
.book__btn:hover {
	color: #fff;
	background-color: #41a4b1;
}

@media only screen and (min-width: 768px){
    .info__wrapper{
		display: inline-flex;
		align-items: flex-start;
		flex-wrap: wrap;
    }
	.info__heading{
		line-height: 3rem;
		font-size: 3.3rem;
	}
	.info__desc{
		text-align: center;
		font-size: 1.8rem;
		margin-bottom: 2rem;
		color: #000;
		opacity: .9;
	}
	.book__btn{
		padding: 13px 17px;
	}
	#right__row{
	    padding: 1rem 3rem;
		margin-top: 40px;
	}
}

@media only screen and (min-width: 1400px){
	#right__row{
		padding: 11px 0px 34px 0px;
		width: 100%;
		margin-top: 2rem;
		margin: 0 auto;
	}
    .info__wrapper{
		display: flex;
		padding: 0px 15px 18px;
		align-items: flex-start;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-evenly;
    }
	.info__heading{
		line-height: 3rem;
	}
	.info__desc{
		padding: 0 10px;
	}
	.info__row{
		flex-wrap: wrap;
		width: 20%;
     	padding: 0px 15px 18px;
	}
    .info__imgWrapper img{
        max-width: none;
        width: 121%;
		height: auto;
		padding-right: 10px;
    }
	.book__btn{
		padding: 13px 17px;
	}
}

@media (max-width: 320px){
	#right__row{
		margin-right: 5px;
		margin-left: 5px;
	}
}

/* end info sec */

/* Footer */

.footer-container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap; 
}
ul{
	list-style: none;
  	color: #fff;
}
.footer{
	background-color: #00131f;
	padding: 36px 0px 0px 0px;
	width: 100%;
	display: -webkit-inline-box;
}
.footer-col{
  width: 25%;
  padding: 0px 15px 18px;
}
.footer-col h4{
	font-size: 1.9rem;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #fff;
	height: 4px;
	box-sizing: border-box;
	width: 150px;
	border-radius: 5px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	color: #fff;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #fedc97;
}
.footer-col .social-links a{
	display: inline-block;
    font-size: 4rem;
    height: 60px;
    width: 60px;
    background-color: #fff;
    margin: 0 10px 10px 0;
    text-align: center;
    border-radius: 50%;
    color: #000000;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #033f63;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
	}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
	}
}
